@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-menu {
  background-color: #50617a;
  border-bottom: solid #778caa 1px;
  color: white;
  min-width: 450px;
}

.nav-link-light {
  @apply cursor-pointer hover:text-cyan-600 hover:underline transition-all duration-300;
}

.nav-link-dark {
  @apply cursor-pointer text-yellow-300 hover:text-cyan-600 hover:underline transition-all duration-300;
}

.experiment-background-dark {
  background-color: #292d32;
}

.experiment-background-size {
  height: calc(100vh - 49px);
  min-width: 450px;
}

.side-scrolling-image {
  scale: 1.0001
}

ul {
  list-style-type: disc;
}

.lightBlueText {
  color: #4f607a;
  filter: drop-shadow(1px 1px 2px #999)
}

