@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-menu {
  background-color: #50617a;
  border-bottom: solid #778caa 1px;
  color: white;
}

.nav-link-light {
  @apply
  cursor-pointer hover:text-cyan-600 hover:underline transition-all duration-300
}

.nav-link-dark {
  @apply
  cursor-pointer text-yellow-300 hover:text-cyan-600 hover:underline transition-all duration-300
}

.experiment-background-dark {
  background-color: #292d32;
}

ul {
  list-style-type: disc;
}

